<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Yenda</title>
</head>
<body>
    <h1>Users Name Saved in local storage</h1>
    <h3> User number saved in localStorage</h3>

    <button id="accountDetailsButton" type="button">Account Details</button>
    <button type="button">Order History</button>
    <button type="button">Payment Method</button>
    <button type="button">Settings</button>
    <button type="button">Help and Support</button>
    <button type="button">About and Info</button>
    <button type="button">Log out</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
    $(document).ready(function(){

    document.getElementById("accountDetailsButton").addEventListener("click", function() {
        // Redirect the user to the desired URL
        window.location.href = "/account-details/";
    });
});

    </script>
</body>

</html>